@using BudgetTracker.ViewModels
@using BudgetTracker.Controllers
@using BudgetTracker.Enums
@model BudgetDetailsViewModel;

@{
    ViewData["Title"] = "Budgets Page";
}

<div class="container">
        <h3>Choose the date:</h3>
        <form asp-controller="budgets" asp-action="GetIncomesAndExpensesByDate" method="post" asp-route-budgetId="@Model.Budget.BudgetId">
        <div class="row">
            <div class="form-group col-md-2">
                <input class="form-control" type="text" asp-for="DateViewModel.Year" class="form-control" />
                <span asp-validation-for="DateViewModel.Year" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <select asp-for="DateViewModel.Month" asp-items="Html.GetEnumSelectList<Months>()" class="form-control"></select>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    <br />

    <div class="row">
        <div class="col">
            <h3>Incomes</h3>
            @if (Model.Incomes.Count < 1 || Model.Incomes == null)
            {
                <p>No incomes have been tracked yet.</p>

                <table class="table table-light w-auto small" id="incomeTable">
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th></th>
                    </tr>

                    <form method="post" asp-controller="incomes" asp-action="CreateIncome" class="custom-form">
                    <tr>
                        <td>
                            <input type="text" asp-for="NewIncome.Name" />
                        </td>
                        <td class="col-2">
                            <input type="number" asp-for="NewIncome.Amount" style="width: 100px;" />
                        </td>
                        <td>
                            <select class="form-select" asp-for="NewIncome.CategoryId" aria-label="Default select example" style="width: 170px;">
                                <option value="" selected>Choose a category</option>
                                @foreach (Category category in Model.Categories)
                                {
                                    <option value="@category.CategoryId">@category.Name</option>
                                }
                            </select>
                        </td>

                        <input type="hidden" asp-for="NewIncome.Year" value="@Model.DateViewModel.Year" class="text-danger" />
                        <input type="hidden" asp-for="NewIncome.Month" value="@Model.DateViewModel.Month" class="text-danger" />
                        <input type="hidden" asp-for="NewIncome.BudgetId" value="@Model.Budget.BudgetId" />

                        <td>
                            <input type="submit" class="btn btn-primary" value="save" />
                        </td>
                    </tr>
                </form>
                </table>
            }
            else
            {
                <table class="table table-light w-auto small" id="incomeTable">
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th></th>
                    </tr>
                    @foreach (Income income in Model.Incomes)
                    {
                        <tr>
                            @if (income.Description != null)
                            {
                                <td>
                                    @income.Name
                                    <a class="btn view-description-btn income-btn" data-toggle="modal" data-target="#detailsModal" data-transaction-id="@income.IncomeId">
                                        <i class="fas fa-eye">i</i>
                                    </a>

                                    <input type="hidden" class="description-data" value="@income.Description" />

                                    <partial name="_ReadModal" />
                                </td>
                            }
                            else
                            {
                                <td>@income.Name </td>
                            }
                            <td>@income.Amount</td>
                            @if (income.CategoryId != null)
                            {
                                <td>@Model.Categories.FirstOrDefault(x => x.CategoryId == income.CategoryId).Name</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td><a class="btn btn-primary" asp-controller="Incomes" asp-action="DeleteIncome" asp-route-id="@income.IncomeId" onclick="return confirmDelete('income')">Delete</a></td>
                        </tr>
                    }

                    <form method="post" asp-controller="incomes" asp-action="CreateIncome" class="custom-form">
                    <tr>
                        <td>
                            <input type="text" asp-for="NewIncome.Name" />
                        </td>
                        <td class="col-2">
                            <input type="number" asp-for="NewIncome.Amount" style="width: 100px;" />
                        </td>
                        <td>
                            <select class="form-select" asp-for="NewIncome.CategoryId" aria-label="Default select example" style="width: 170px;">
                                <option value="" selected>Choose a category</option>
                                    @foreach (Category category in Model.Categories)
                                    {
                                    <option value="@category.CategoryId">@category.Name</option>
                                    }
                            </select>
                        </td>

                        <input type="hidden" asp-for="NewIncome.Year" value="@Model.DateViewModel.Year" class="text-danger" />
                        <input type="hidden" asp-for="NewIncome.Month" value="@Model.DateViewModel.Month" class="text-danger" />
                        <input type="hidden" asp-for="NewIncome.BudgetId" value="@Model.Budget.BudgetId" />

                        <td>
                            <input type="submit" class="btn btn-primary" value="save" />
                        </td>
                    </tr>
                    </form>
                </table>
            }            
    </div>

    <div class="col">
        <h3>Expenses</h3>
        @if(Model.Expenses.Count < 1)
            {
                <p>No expenses have been tracked yet.</p>

                <table class="table table-light w-auto small">
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th></th>
                    </tr>
                <form method="post" asp-controller="expenses" asp-action="CreateExpense">
                    <tr>
                        <td>
                            <input type="text" asp-for="NewExpense.Name" />
                        </td>
                        <td>
                            <input type="number" asp-for="NewExpense.Amount" style="width: 100px;" />
                        </td>

                        <td>
                            <select class="form-select" asp-for="NewExpense.CategoryId" aria-label="Default select example">
                                <option value="" selected>Choose a category</option>
                                @foreach (Category category in Model.Categories)
                                {
                                    <option value="@category.CategoryId">@category.Name</option>
                                }
                            </select>
                        </td>

                        <input type="hidden" asp-for="NewExpense.Year" value="@Model.DateViewModel.Year" class="text-danger" />
                        <input type="hidden" asp-for="NewExpense.Month" value="@Model.DateViewModel.Month" class="text-danger" />
                        <input type="hidden" asp-for="NewExpense.BudgetId" value="@Model.Budget.BudgetId" />

                        <td>
                            <input type="submit" class="btn btn-primary" value="save" />
                        </td>
                    </tr>
                </form>
                </table>
            }
        else{
                <table class="table table-light w-auto small">
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th></th>
                    </tr>
                    @foreach (Expense expense in Model.Expenses)
                    {
                        <tr>
                            @if (expense.Description != null)
                            {
                                <td>
                                    @expense.Name
                                    <a class="btn view-description-btn expense-btn" data-toggle="modal" data-target="#detailsModal" data-transaction-id="@expense.ExpenseId">
                                        <i class="fas fa-eye">i</i>
                                    </a>

                                    <input type="hidden" class="description-data" value="@expense.Description" />

                                    <partial name="_ReadModal" />
                                </td>
                            }
                            else
                            {
                                <td>@expense.Name </td>
                            }
                            <td>@expense.Amount</td>
                            @if (expense.CategoryId != null)
                            {
                                <td>@Model.Categories.FirstOrDefault(x => x.CategoryId == expense.CategoryId).Name</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td><a class="btn btn-primary" asp-controller="Expenses" asp-action="DeleteExpense" asp-route-id="@expense.ExpenseId" onclick="return confirmDelete('expense')">Delete</a></td>
                        </tr>
                    }

                    <form method="post" asp-controller="expenses" asp-action="CreateExpense">
                    <tr>
                        <td>
                            <input type="text" asp-for="NewExpense.Name" />
                        </td>
                        <td>
                            <input type="number" asp-for="NewExpense.Amount" style="width: 100px;" />
                        </td>

                        <td>
                            <select class="form-select" asp-for="NewExpense.CategoryId" aria-label="Default select example">
                                <option value="" selected>Choose a category</option>
                                    @foreach (Category category in Model.Categories)
                                    {
                                    <option value="@category.CategoryId">@category.Name</option>
                                    }
                            </select>
                        </td>

                        <input type="hidden" asp-for="NewExpense.Year" value="@Model.DateViewModel.Year" class="text-danger" />
                        <input type="hidden" asp-for="NewExpense.Month" value="@Model.DateViewModel.Month" class="text-danger" />
                        <input type="hidden" asp-for="NewExpense.BudgetId" value="@Model.Budget.BudgetId" />

                        <td>
                            <input type="submit" class="btn btn-primary" value="save" />
                        </td>
                    </tr>
                    </form>
                </table>
        }
        </div>
    </div>
</div> 

<a class="btn btn-primary" asp-controller="graphs" asp-action="index" asp-route-budgetId="@Model.Budget.BudgetId" 
asp-route-year="@Model.DateViewModel.Year" asp-route-month="@Model.DateViewModel.Month">Overview</a>

@section Scripts {
    <script>
        function confirmDelete(budgetType) {
            return confirm("Are you sure you want to delete this " + budgetType + "?")
        }

        $(document).ready(function () {
            $('.view-description-btn').on('click', function () {
                var description = $(this).siblings('.description-data').val();
                var name = $(this).closest('td').contents().filter(function () {
                    return this.nodeType === 3;
                }).text().trim();

                var transactionId = $(this).data('transaction-id');
                var isIncome = $(this).hasClass('income-btn');

                $('#transactionIdInput').val(transactionId);
                $('#budgetItemType').val(isIncome ? 'Income' : 'Expense');

                $('#nameContent').text("Name: " + name);
                $('#descriptionContent').html("<strong>Description: </strong>" + description);
            });
        });
    </script>
}