@using BudgetTracker.ViewModels
@using BudgetTracker.Controllers
@model BudgetDetailsViewModel;

@{
    ViewData["Title"] = "Budgets Page";
}

<div style="display: flex">
    <div>
        <h3>Incomes</h3>
        <table class="table table-light mx-2" id="incomeTable">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
                <th></th>
            </tr>
            @foreach (Income income in Model.Incomes)
            {
                <tr>
                    <td>@income.Name</td>
                    @if (income.Description != null)
                    {
                        <td>

                            <a class="btn view-description-btn" data-toggle="modal" data-target="#detailsModal">
                                <i class="fas fa-eye">View description</i>
                            </a>

                            <input type="hidden" class="description-data" value="@income.Description" />

                            <partial name="_ReadModal" />
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@income.Amount</td>
                    @if (income.CategoryId != null)
                    {
                        <td>@Model.Categories.FirstOrDefault(x => x.CategoryId == income.CategoryId).Name</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td><a class="btn btn-primary" asp-controller="Incomes" asp-action="DeleteIncome" asp-route-id="@income.IncomeId" onclick="return confirmDelete('income')"></a>Delete</td>
                </tr>
            }   
            
            <form method="post" asp-controller="incomes" asp-action="CreateIncome">
                <tr>
                    <td>
                        <input type="text" asp-for="NewIncome.Name"/>
                    </td>
                    <td>
                        <input type="text" asp-for="NewIncome.Description" />
                    </td>
                    <td>
                        <input type="number" asp-for="NewIncome.Amount" />
                    </td>
                    <td>
                    <select class="form-select" asp-for="NewIncome.CategoryId" aria-label="Default select example">
                        <option value="" selected>Choose a category</option>
                            @foreach (Category category in Model.Categories)
                            {
                                <option value="@category.CategoryId">@category.Name</option>
                            }
                    </select>
                    </td>

                    <input type="hidden" asp-for="NewIncome.BudgetId" value="@Model.Budget.BudgetId" />

                    <td>
                        <input type="submit" class="btn btn-primary" value="save" />
                    </td>
                </tr>
            </form>
        </table>
    </div>

    <div>
        <h3>Expenses</h3>
        <table class="table table-light mx-2">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
                <th></th>
            </tr>
            @foreach (Expense expense in Model.Expenses)
            {
                <tr>
                    <td>@expense.Name</td>
                    @if (expense.Description != null)
                    {
                        <td>

                            <a class="btn view-description-btn" data-toggle="modal" data-target="#detailsModal">
                                <i class="fas fa-eye">View description</i>
                            </a>

                            <input type="hidden" class="description-data" value="@expense.Description" />

                            <partial name="_ReadModal" />
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@expense.Amount</td>
                    @if (expense.CategoryId != null)
                    {
                        <td>@Model.Categories.FirstOrDefault(x => x.CategoryId == expense.CategoryId).Name</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td><a class="btn btn-primary" asp-controller="Expenses" asp-action="DeleteExpense" asp-route-id="@expense.ExpenseId" onclick="return confirmDelete('expense')"></a>Delete</td>
                </tr>
            }

            <form method="post" asp-controller="expenses" asp-action="CreateExpense">
            <tr>
                <td>
                    <input type="text" asp-for="NewExpense.Name" />
                </td>
                <td>
                    <input type="text" asp-for="NewExpense.Description" />
                </td>
                <td>
                    <input type="numer" asp-for="NewExpense.Amount" />
                </td>

                <td>
                    <select class="form-select" asp-for="NewExpense.CategoryId" aria-label="Default select example">
                        <option value="" selected>Choose a category</option>
                            @foreach (Category category in Model.Categories)
                            {
                            <option value="@category.CategoryId">@category.Name</option>
                            }
                    </select>
                </td>

                <input type="hidden" asp-for="NewExpense.BudgetId" value="@Model.Budget.BudgetId" />

                <td>
                    <input type="submit" class="btn btn-primary" value="save" />
                </td>
            </tr>
            </form>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        function confirmDelete(budgetType) {
            return confirm("Are you sure you want to delete this " + budgetType + "?")
        }

        $(document).ready(function () {
            $('.view-description-btn').on('click', function () {
                var description = $(this).siblings('.description-data').val();
                var name = $(this).closest('tr').find('td:first').text();
                $('#descriptionContent').text(description);
                $('#nameContent').text(name);
            });
        });
    </script>
}