@using BudgetTracker.ViewModels
@using BudgetTracker.Controllers
@model BudgetDetailsViewModel;

@{
    ViewData["Title"] = "Budgets Page";
}

<div style="display: flex">
    <div>
        <h3>Incomes</h3>
        <table class="table table-light mx-2" id="incomeTable">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
            </tr>
            @foreach (Income income in Model.Incomes)
            {
                <tr>
                    <td>@income.Name</td>
                    <td>@income.Description</td>
                    <td>@income.Amount</td>
                    @if (income.CategoryId != null)
                    {
                        <td>@Model.Categories.FirstOrDefault(x => x.CategoryId == income.CategoryId).Name</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    
                </tr>
            }   
            
            <form method="post" asp-controller="incomes" asp-action="CreateIncome">
                <tr>
                    <td>
                        <input type="text" asp-for="NewIncome.Name"/>
                    </td>
                    <td>
                        <input type="text" asp-for="NewIncome.Description" />
                    </td>
                    <td>
                        <input type="number" asp-for="NewIncome.Amount" />
                    </td>
                    <td>
                    <select class="form-select" asp-for="NewIncome.CategoryId" aria-label="Default select example">
                        <option value="" selected>Choose a category</option>
                            @foreach (Category category in Model.Categories)
                            {
                                <option value="@category.CategoryId">@category.Name</option>
                            }
                        </select>
                    </td>

                    <input type="hidden" asp-for="NewIncome.BudgetId" value="@Model.Budget.BudgetId" />

                    <td>
                        <input type="submit" class="btn btn-primary" value="save" />
                    </td>
                </tr>
            </form>
        </table>
    </div>

    <div>
        <h3>Expenses</h3>
        <table class="table table-light mx-2">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
            </tr>
            @foreach (Expense expense in Model.Expenses)
            {
                <tr>
                    <th>@expense.Name</th>
                    <th>@expense.Description</th>
                    <th>@expense.Amount</th>
                    <th>@expense.Category</th>
                </tr>
            }

            <form method="post" asp-controller="expenses" asp-action="CreateExpense">
            <tr>
                <th>
                    <input type="text" asp-for="NewExpense.Name" />
                </th>
                <th>
                    <input type="text" asp-for="NewExpense.Description" />
                </th>
                <th>
                    <input type="numer" asp-for="NewExpense.Amount" />
                </th>

                <input type="hidden" asp-for="NewExpense.BudgetId" value="@Model.Budget.BudgetId" />

                <th>
                    <input type="submit" class="btn btn-primary" value="save" />
                </th>
            </tr>
            </form>
        </table>
    </div>
</div>